html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.wrap {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: #fff;
    text-align: center;
    background: #120103;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    background-color: rgb(128, 194, 194);    
}

header label {
    display: inline-block;
    padding: 0 1em;
    font-size: 1em;
    font-weight: bold;
    line-height: 4em;
    color: #fff;
    cursor: pointer;
}

header label:hover {
    background: #2e353b;
}

.slide {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    padding: 8em 1em 0;
    background-color: #120103;
    background-position: 50% 50%;
    background-size: cover;
    transition: left 0s 0.75s;
}

.slide-one {
    background-image: url('./IMG_0379.JPG');
    background-position: top center;
}

.slide-two {
    background-image: url('./IMG_1675.JPG');
    background-position: top center;
}

.slide-three {
    background-image: url('./IMG_2563.JPG');
    background-position: top center;
}

.slide-four {
    background-image: url('./IMG_3054.JPG');
    background-position: top center;
}

.slide h1 {
    opacity: 0;
    transform: translateY(100%);
    transition: transform .5s .5s, opacity .5s;
}

[id^='slide']:checked + .slide {
    left: 0;
    z-index:15;
    transition: left .65s ease-out;
}

[id^='slide']:checked + .slide h1 {
    opacity: 1;
    transform: translateY(0);
    transition: all .5s .5s;
}
